$theme-colors: (
    "primary": #17d4ff,
    "secondary": #000,
    "gray-light": #eee,
); 

$nav-link-font-size: 1.5rem;
$nav-link-padding-x: 3rem;
$accordion-body-padding-x: 3rem;

$h1-font-size: 80px;
$h2-font-size: 40px;